<div class="container">
  <img [src]="furniture.imageUrl" [alt]="furniture.name" />
</div>

<div class="details">
  <div class="header">
    <span class="name">
      {{ furniture.name }}
    </span>
  </div>

  <div class="timeFrame">
    <span>
      It will be about <strong>{{ furniture.timeFrame }}</strong> for this item
      to be delivered.
    </span>
  </div>

  <div class="numberofEmployees">
    <span>
      There will be about
      <strong>{{ furniture.numberofEmployees }}</strong> employees that will
      work on this item.
    </span>
  </div>

  <div class="price">
    <span>
      {{ furniture.price | currency }}
    </span>
  </div>

  <button (click)="addToCart()">Add to Cart</button>
</div>
