<!-- <div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="mb-3">
        <label for="registerUsername" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          ngModel
          required
          #username="ngModel"
          class="form-control"
          id="registerUsername"
          placeholder="Enter username"
        />
      </div>

      <div class="mb-3">
        <label for="registerEmail">Email</label>
        <input
          type="email"
          name="email"
          ngModel
          required
          #email="ngModel"
          class="form-control"
          id="registerEmail"
          placeholder="Enter email"
        />
      </div>
      <div class="mb-3 form-check">
        <label for="registerPassword">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
          class="form-control"
          id="registerPassword"
          placeholder="Password"
        />
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
        Register
      </button>
    </form>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h2>WoodCutters Union Register</h2>
          <h5>Please Register</h5>
          <hr />
        </div>

        <form>
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input
              formControlName="first name"
              placeholder="Enter First Name"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input
              formControlName="last name"
              placeholder="Enter Last Name"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input
              formControlName="email address"
              placeholder="Enter Email Address"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              formControlName="password"
              placeholder="Enter Password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <a routerLink="/register">Already have an Account? Login</a>
      </div>
    </div>
  </div>
</div> -->
