<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>WoodCutters Union</h1>
          <h5>Please Register</h5><hr>

        <!-- </div>  -->
 <!-- [formGroup]="signupForm" (ngSubmit)="signUp()" add inside form --> 
        <!-- </div> -->
        <form (ngSubmit)="FUNC_NewUser()" [formGroup]="NewUserData">
          <div class="mb-3">
            <label> Firstname </label>
            <input formControlName="firstname" placeholder="Enter Firstname" type="string" class="form-control" id="exampleInputFirstname">    
          </div>
          <div class="mb-3">
            <label> Lastname </label>
            <input formControlName="lastname" placeholder="Enter Lastname" type="string" class="form-control" id="exampleInputLastname">    
          </div>
          <div class="mb-3">
            <label> Email </label>
            <input formControlName="email" placeholder="Enter Correct Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
          </div>
          <div class="mb-3">
            <label >Password </label>
            <input formControlName="password" placeholder="Enter Password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">SignUp</button>
        </form>

        <a style="color: blue; margin-top:10px; font-size: 13px;" routerLink="/login">Already Have an Account? Please login</a>

        </div>
      </div>
    </div>
